<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
            @if (Session["Username"] != null)
            {
<a class="d-block">@Session["Fullname"]</a>
                <a href="@Url.Action("Logout","Home")">Đăng xuất</a> }

        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý Danh mục
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/brands" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý Thương Hiệu
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/users" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý Người dùng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/products" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý Sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/orders" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý Đơn hàng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/comments" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý Bình luận
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/promotions" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý Khuyến mại
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/contact" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý Liên hệ
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
